In [1]:
import os

import helper.helper_functions as hf
import pandas as pd

os.chdir(
    r"C:\Users\louis\OneDrive - Georgia Institute of Technology\GATech\2025 sem 6 Summer\Practicum\Practicum Shared Folder\data\internal"
)

In [2]:
import importlib

importlib.reload(hf)

In [3]:
pd.set_option("display.max_columns", None)

In [4]:
# importing student info data
enrollment = pd.read_csv("Enrollment.csv", dtype={"GradeLevel": "string"})
enrollment_reason = pd.read_csv("EnrollmentReason.csv")
withdrawal_reason = pd.read_csv("WithdrawalReason.csv")

In [5]:
school_info = pd.read_csv("DimSchool.csv")

In [6]:
school_info.head()

,SchoolId,ValidStartDate,ValidEndDate,SAPOrgUnitId,FacilityAreaCode,FacilityAreaDesc,Region,SchoolStatusDesc,FacilityName,FacilityStateId,SchoolDetailReportName,SchoolDetailFCSId,SchoolDetailLevelCode,BoardMemberName,BoardMemberDistrict,SchoolDetailLowestGrade,SchoolDetailHighestGrade,SchoolDetailLevelDesc,CollegeBoardId,SchoolDetailShortName,SchoolDetailSchoolType,SchoolDetailCharterStatus,StrivingReaderFlag,SchoolOpeningYear,SchoolClosingYear,SchoolStreet1,SchoolStreet2,SchoolCity,SchoolState,SchoolZip,Website,PrincipalFullName,SchoolCalendarType,SchoolStateId,Title1Code,Title1Desc,TransferBuilding,SchoolSupportStatusDesc,PriorFacilityAreaCode,PriorFacilityAreaDesc,ActiveSchoolRecordFlag
0,-2,00:00.0,00:00.0,Unknown,NaN,NaN,NaN,Unknown,Not Applicable,Unkn,Not Applicable,NaN,Un,Unknown,-1,Un,Un,Unknown,,Not Applicable,Regular,Not a Charter School,N,1900,9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,Unkn,NaN,NaN,NaN,NaN,Un,Unknown,Y
1,-1,00:00.0,00:00.0,Unknown,NaN,NaN,NaN,Unknown,Unknown,Unkn,Unknown,Unk,Un,Unknown,-1,Un,Un,Unknown,,Unknown,Regular,Not a Charter School,N,1900,9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,Unkn,NaN,NaN,NaN,NaN,Un,Unknown,Y
2,2,00:00.0,00:00.0,,NaN,NaN,NaN,Closed,Spalding Drive Elementary,5067,Spalding Drive Elementary,528,ES,NaN,-1,PK,5,Elementary School,,Spalding Drive ES,Regular,Not a Charter School,N,1970,2011,130 Spalding Drive,NaN,Atlanta,GA,30328.0,NaN,NaN,Regular,5067,NaN,NaN,NaN,NaN,Un,Unknown,Y
3,3,00:00.0,00:00.0,,NaN,NaN,NaN,Closed,Dunwoody Springs Elementary,401,Dunwoody Springs Elementary,530,ES,NaN,-1,PK,5,Elementary School,,Dunwoody Spr ES,Regular,Not a Charter School,N,1970,2011,8100 Roberts Drive,NaN,Atlanta,GA,30310.0,NaN,NaN,Regular,401,NaN,NaN,NaN,NaN,Un,Unknown,Y
4,4,00:00.0,00:00.0,,NaN,NaN,NaN,Closed,Woodland Elementary,1070,Woodland Elementary,660,ES,NaN,-1,PK,5,Elementary School,,Woodland ES,Regular,Not a Charter School,N,1970,2011,1130 Spalding Dr,NaN,Atlanta,GA,30328.0,NaN,NaN,Regular,1070,NaN,NaN,NaN,NaN,Un,Unknown,Y

In [7]:
# get the withdrawal reason description
students = hf.join_enrollment_withdrawal(
    enrollment, enrollment_reason, withdrawal_reason
)

In [8]:
student_school = hf.get_school_info(students, school_info)

In [9]:
students.to_csv("modified_data/students.csv", index=False)
# student_school.to_csv('modified_data/students.csv', index=False)

In [10]:
# importing academic data
milestone_score = pd.read_csv("Georgia Milestones Scores.csv")
milestone_sublevel_score = pd.read_csv("Georgia Milestones Sublevel Score.csv")

C:\Users\louis\AppData\Local\Temp\ipykernel_46576\3581051613.py:2: DtypeWarning: Columns (22,23,25) have mixed types. Specify dtype option on import or set low_memory=False.
  milestone_score = pd.read_csv('Georgia Milestones Scores.csv')

In [11]:
illuminate25 = pd.read_csv("IlluminateData2025.csv", encoding="latin1")

In [12]:
# Check the shape of the Illuminate data
illuminate25.shape

(5013043, 28)

In [13]:
df = illuminate25[illuminate25["Mask_StudentPersonkey"] == 728618].copy()

In [14]:
df_unique = df.drop_duplicates(
    subset=[
        "schoolyearnumberspring",
        "unitnumber",
        "Mask_StudentPersonkey",
        "title",
        "AssessmentId",
        "responsedatevalue",
        "DateValue",
        "Response_points",
        "Response_points_possible",
        "Response_percent_correct",
        "Department",
    ]
)

In [15]:
df_unique.groupby("categorytitle")["Response_points_possible"].sum()

categorytitle
Biology                                             74.0
Grades: 9-10                                        69.0
High School  Geometry: Concepts and Connections    86.0
Name: Response_points_possible, dtype: float64

In [16]:
# illuminate25 [illuminate25['Mask_StudentPersonkey'] == 728618].sort_values(['title','responsedatevalue']).head(50)

In [17]:
len(milestone_score), len(milestone_sublevel_score)

(382324, 2551140)

In [18]:
milestone_sublevel_score

,GeorgiaMilestonesSublevelId,GeorgiaMilestonesId,SchoolId,SchoolDetailFCSId,StudentPersonKey_mask,AssessmentId,TestingDateId,AssessmentAdministrationWindowId,SchoolYearId,GeorgiaMilestonesMasteryLevelId,MasteryCategoryDomainScore,ActiveFactGeorgiaMilestonesSublevelRecordFlag
0,4700514,1362898,143,804,356119,767,11319,5,32,1,1,Y
1,4700515,1362898,143,804,356119,1070,11319,5,32,1,1,Y
2,4700516,1362898,143,804,356119,1071,11319,5,32,1,1,Y
3,4700517,1362898,143,804,356119,1072,11319,5,32,1,1,Y
4,4700518,1362899,78,852,217864,569,11319,5,32,1,1,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
2551135,13748410,2226957,83,914,308948,591,12418,5,35,24,2,Y
2551136,13748411,2226958,83,914,1990121,589,12418,5,35,24,2,Y
2551137,13748412,2226958,83,914,1990121,588,12418,5,35,23,1,Y
2551138,13748413,2226958,83,914,1990121,587,12418,5,35,23,1,Y
2551139,13748414,2226958,83,914,1990121,591,12418,5,35,23,1,Y

In [19]:
milestone_score[milestone_score["StudentPersonKey_mask"] == 728618]

,GeorgiaMilestonesId,GeorgiaMilestonesAchievementLevelId,SubjectDesc,SchoolYearId,AssessmentAdministrationWindowId,AssessmentAdministrationWindowDesc,TestingDateId,StudentPersonKey_mask,SchoolDetailFCSId,SchoolId,ScaleScore,AchievementLevel,GradeConversionScore,LexileScore,ReadingIndicatorMetFlag,TestGrade,NRT_NP,ActiveFactGeorgiaMilestonesRecordFlag,ExtendedWritingT1Score,ExtendedWritingT2Score,NarrativeWritingResponse,ExtendedWritingPromptGenre,StudentGrowthPercentileFinal,StudentGrowthLevel,Assmnt_Sci,NRTNP_Range,Retest_Flag
83465,1843924,3,Mathematics,32,3,Spring,11571,728618,974,99,574,3,NaN,NaN,NaN,6,0.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85283,1845742,3,English Language Arts,32,3,Spring,11571,728618,974,99,596,3,NaN,1175.0,1.0,6,0.0,Y,3.0,3.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN
200031,1983359,3,English Language Arts,33,3,Spring,11935,728618,974,99,561,3,NaN,1255.0,1.0,7,NaN,Y,3.0,3.0,4.0,2.0,25,Low Growth,NaN,74-88,0.0
203626,1986954,3,Mathematics,33,3,Spring,11935,728618,974,99,553,3,NaN,NaN,NaN,7,NaN,Y,NaN,NaN,NaN,NaN,15,Low Growth,NaN,79-91,0.0
319825,2123475,3,English Language Arts,34,3,Spring,12299,728618,974,99,567,3,NaN,1310.0,1.0,8,NaN,Y,4.0,3.0,4.0,1.0,38,Typical Growth,NaN,86-97,0.0
319826,2123476,2,Social Studies,34,3,Spring,12299,728618,974,99,510,2,NaN,NaN,NaN,8,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45-63,NaN
319827,2123477,2,HS Physical Science,34,3,Spring,12299,728618,974,99,514,2,NaN,NaN,NaN,8,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,2.0,52-70,NaN
361896,2181940,4,Mathematics,34,3,Spring,12299,728618,974,99,579,4,NaN,NaN,NaN,8,NaN,Y,NaN,NaN,NaN,NaN,52,Typical Growth,NaN,93-98,0.0
377318,2221953,3,Algebra: Concepts and Connections,34,3,Spring,12306,728618,974,99,559,3,87.0,0.0,NaN,8,NaN,Y,NaN,NaN,NaN,NaN,34,Low Growth,NaN,87-94,0.0

In [20]:
milestone_sublevel_score[milestone_sublevel_score["StudentPersonKey_mask"] == 728618]

,GeorgiaMilestonesSublevelId,GeorgiaMilestonesId,SchoolId,SchoolDetailFCSId,StudentPersonKey_mask,AssessmentId,TestingDateId,AssessmentAdministrationWindowId,SchoolYearId,GeorgiaMilestonesMasteryLevelId,MasteryCategoryDomainScore,ActiveFactGeorgiaMilestonesSublevelRecordFlag
520680,9076260,1845742,99,974,728618,1133,11571,3,32,2,2,Y
520681,9076261,1845742,99,974,728618,1134,11571,3,32,2,2,Y
520682,9076262,1845742,99,974,728618,1137,11571,3,32,2,2,Y
520709,9076295,1845742,99,974,728618,685,11571,3,32,3,3,Y
520710,9076296,1845742,99,974,728618,686,11571,3,32,3,3,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
2469797,13667072,2221953,99,974,728618,1400,12306,3,34,24,2,Y
2469798,13667073,2221953,99,974,728618,1401,12306,3,34,24,2,Y
2469799,13667074,2221953,99,974,728618,1402,12306,3,34,24,2,Y
2469800,13667075,2221953,99,974,728618,1392,12306,3,34,25,3,Y
2469801,13667076,2221953,99,974,728618,1398,12306,3,34,24,2,Y